<h3 class="centerText">SinSRL: First Ever Semantic Role Labeller for Sinhala</h3>

<p><i>SinSRL</i> is the first ever semantic role labeller for Sinhala language which uses both “Neural Network” and “Annotation Projection” approaches to annotate a given Sinhala Sentence with semantic tags defined in <a href="https://verbs.colorado.edu/verb-index/vn3.3/">Propbank corpus</a>.</p>

<p><i>SinSRL</i> consists of two sub tools as <i>SinSRL-Projector</i> and <i>SinSRL-Direct Annotator</i>. While <i>SinSRL-Projector</i> uses Sinhala and English parallel sentences to annotate the Sinhala sentence using annotation projection method, the <i>SinSRL-Direct Annotator</i> uses only the Sinhala sentence and trained ML models to annotate the Sinhala sentence.</p>

<div style="padding-left:16px">
  <img src="assets/about.png" alt="About">
</div>

<h4>Cite us:</h4>
<p>S. Gunasekara, D. Chathura, C. Jeewantha and G. Dias, "Using Annotation Projection for Semantic Role Labeling of Low-Resourced Language: Sinhala," 2020 International Conference on Asian Language Processing (IALP), Kuala Lumpur, Malaysia, 2020, pp. 98-103, doi: 10.1109/IALP51396.2020.9310468.</p>
